# Environment
.env
*.env

# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/

# Terraform
terraform/.terraform/
terraform/.terraform.lock.hcl
terraform/*.tfstate
terraform/*.tfstate.backup
terraform/*.tfvars
terraform/.build/

# Docker
*.tar

# macOS
.DS_Store
